.title {
    margin: 4px 0px;
}

.title-1 {
    font-size: 16px;
}

.title-2 {
    font-size: 14px;
}

.title-3 {
    -unity-font-style: bold;
}

.title-3 {
    -unity-font-style: italic;
}

.paragraph {
    margin-bottom: 4px;
    white-space: normal;
}
